.serviceBox .service-icon i {
  z-index: 1;
  position: relative;
}

.text-center.text-info {
  color: #4b5b68!important;
}

h2 {
  color: rgb(75,91,104);
}

.clean-block .block-heading h1, .clean-block .block-heading h2, .clean-block .block-heading h3 {
  color: rgb(75,91,104)!important;
}

